*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgba(15,84,91,0.3);
  margin: auto;
  font-family:'Times New Roman', Times, serif;
  font-size: 1.1rem;
}
/*en tete*/

header{
    top: 0px;
    width: 100%;
    position: fixed;
    background-color:rgb(37, 170, 226);
    height: 70px;
    z-index: 1000;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.logo em {
    font-size: 1rem;
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
  

}

/* nav desktop*/
.nav-desktop{
  
    display: flex;
    list-style: none ;
    gap: 2rem;

}
.nav-desktop a{
  font-size: 1.3em;
  color: #181818;
  padding-bottom: 3px;   
  text-decoration: none;
}

.nav-desktop a:hover{
  color: #760001;
  border-bottom: 3px solid #760001;
  }

/*bouton hamburger*/
.hamburger {
    display: none;
    width: 30px;
    height: 22px;
    background: none;
    border: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
.hamburger span {
    height: 3px;
    background: white;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  /*nav mobile*/
.nav-mobile {
    position: fixed;
    top: 70px;
    width: 100%;
    background: #222;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.4s ease;
    text-align: center;
  }
  
.nav-mobile ul {
    list-style: none;
    padding: 1.5rem;
  }
  
  .nav-mobile li {
    margin-bottom: 1rem;
  }
  
  .nav-mobile a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  /* MENU OUVERT */
  .nav-mobile.active {
    max-height: 300px;
  }
  
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  
  /* CONTENU */
  .content {
    width: 90%;
    margin: auto;
    margin-top: 70px;
    padding: 2rem;
    transition: margin-top 0.4s ease;
  }
  
  .content.menu-open {
    margin-top: 250px;
  }

  /* RESPONSIVE */
  @media (max-width: 768px) {
    .nav-desktop {
      display: none;
    }
  
    .hamburger {
      display: flex;
    }
  }

/*page accueil*/
.presentation-image{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

}
.presentation-image div{


}
.presentation-image div img{
  width: 90%;
  height: 200px;
}
  


/*pied de page */
footer{
    width: 100%;
    margin-top: 15px;
    color: white;
    background-color: #222;  
}
.block-lien{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 15px;
}
footer h4{
  margin-bottom: 10px;
}
footer ul {
  list-style: none;
}

footer a{
  color: white;
  text-decoration: none;
}

.signature{
  text-align: center;
}

/* formulaire*/
.titre-contact{
  text-align: center;
}
.block_formulaire{
    display: flex;
    max-width: 500px;
    flex-direction: column;
    gap: 10px;
}
.formulaire{
  display: flex;
  flex-direction: column;
  gap: 15px;
} /*
.block_formulaire label{
    display: block;
    margin-bottom: 10px;
} */
.envoyer {
  background-color: rgb(37, 170, 226);
}
.formulaire input , .envoyer{
  height: 30px;
  }

/*page services */
section{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.titre-service{
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
}


/* images des produits */
.list-usinage , .list-epi{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
  gap: 15px; 
  width: 100%;
  margin: auto;

}

.list{

  margin: 10px;
  border-radius: 10px;
  overflow:hidden;
  display: flex;
  flex-direction:column;
}
.list-usinage img, .list-epi img{
  width: 90%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}
.service h2{
  margin-bottom: 15px;
  padding: 10px;
  background: white;
  border-radius: 15px;
}
 /* informations à propos */

.contact.info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-item{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}
.info-item h4{
  margin: 0;
  font-size: 1rem;
}

.info-item p{
  margin: 4px 0 0;
}
.icon{
  min-width: 30px;
  display: flex;

}
.item i{
  font-size: 22px;
  color: #760001;
}